<div class="col-lg">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> Notificaciones
        </div>
        <div class="card-body" ng-controller="notificacionesController">


            <div>

                <button type="button" class="btn btn-primary" ng-click="filtrarxDias(0)">Hoy</button>
                <button type="button" class="btn btn-primary" ng-click="filtrarxDias(7)">7 Días</button>
                <button type="button" class="btn btn-primary" ng-click="filtrarxDias(15)">15 Días</button>

            </div>

            <table class="table table-striped" at-table at-list="todasNotificaciones" at-config="config" at-paginated>
                <thead>
                <tr>
                    <th at-attribute="nombre_huesped">Huesped</th>
                    <th at-attribute="descripcion">Descripción</th>
                    <th at-attribute="fecha">Fecha</th>
                    <th at-attribute="canal">Canal</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td at-implicit at-attribute="nombre_huesped"></td>
                    <td at-implicit at-attribute="descripcion"></td>
                    <td at-attribute="fecha" at-sortable at-initial-sorting="desc">{{item.fecha | date : 'dd/MM/yyyy'}}</td>
                    <td at-attribute="canal">
                        <button type="button" ng-click="abrirReserva(item.reservation_id)">
                            <img ng-src="{{obtenerImagenCanal(item.canal)}}"/>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <at-pagination at-config="config" at-list="todasNotificaciones"></at-pagination>


        </div>
    </div>
</div>