<div class="animated fadeIn">
    <div ng-controller="DemoCtrl" >

        <div style="float:left; width:160px">
            <daypilot-navigator id="navigator" daypilot-config="navigatorConfig"></daypilot-navigator>
        </div>
        <div style="margin-left: 160px">
            <div class="form-group col-sm-3">
                <label for="roomType">Filtro Cuartos</label>
                <select id="roomType"  ng-model="roomType" class="form-control-sm">
                    <option value="0">Todos</option>
                    <option value="1">Sencilla</option>
                    <option value="2">Doble</option>
                    <option value="4">Familiar (4)</option>
                </select>
            </div>
            <daypilot-scheduler id="scheduler" daypilot-config="schedulerConfig" daypilot-events="events" ></daypilot-scheduler>

            <div class="space">
<!--        <a href="" id="add-room" ng-click="addRoom()">Add Room</a> -->
            </div>
        </div>
    </div>
</div>